<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="facility">
      <h2 data-cy="facilityDetailsHeading"><span>Facility</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ facility.id }}</span>
        </dd>
        <dt><span>A C</span></dt>
        <dd>
          <span>{{ facility.aC }}</span>
        </dd>
        <dt><span>Parking</span></dt>
        <dd>
          <span>{{ facility.parking }}</span>
        </dd>
        <dt><span>Wifi</span></dt>
        <dd>
          <span>{{ facility.wifi }}</span>
        </dd>
        <dt><span>Room</span></dt>
        <dd>
          <div *ngIf="facility.room">
            <a [routerLink]="['/room', facility.room?.id, 'view']">{{ facility.room?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/facility', facility.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
