<div>
  <h2 id="page-heading" data-cy="FacilityHeading">
    <span>Facilities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-facility"
        [routerLink]="['/facility/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Facility </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="facilities?.length === 0">
    <span>No facilities found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="facilities && facilities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>A C</span></th>
          <th scope="col"><span>Parking</span></th>
          <th scope="col"><span>Wifi</span></th>
          <th scope="col"><span>Room</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let facility of facilities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/facility', facility.id, 'view']">{{ facility.id }}</a>
          </td>
          <td>{{ facility.aC }}</td>
          <td>{{ facility.parking }}</td>
          <td>{{ facility.wifi }}</td>
          <td>
            <div *ngIf="facility.room">
              <a [routerLink]="['/room', facility.room?.id, 'view']">{{ facility.room?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/facility', facility.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/facility', facility.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(facility)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
